.App {
  text-align: center;
 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1, h2, h3, h4, h5, h6 {
  color: #545454;
  line-height: 3rem;

}

p {
  color: #545454;
}

.nav-link {
  color: #1969a8;
  font-weight: bold
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.container-fluid {
  /* background: #FFFEF2; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* padding: 2rem; */
  /* flex-wrap: wrap; */
}
.hero {
 padding: 3rem;
}

.container-fluid img {
  max-height: 100%;
  width: 40%;
}

.container {
  display: flex;
  margin-top: 3rem;
  width: 100%;
  /* background-image: url("heroBackground.png") no-repeat;  */

}

.hero-container {
  display: flex;
  align-items: flex-start;
  padding: 7rem 0 4rem 0rem;
  width: 100%
}

.main-h1 {
  color: white;
  font-size: 2rem;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #ff5757; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 5.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #febd01; }
}

.element {
  height: 10rem;
  width: 10rem;
  background-color:#febd01;
  animation: 
    pulse 3s ease infinite alternate, 
    nudge 5s linear infinite alternate;
  border-radius: 100%;
}

@keyframes pulse {
  0%, 100% {
    background-color: #1969a8;
  }
  50% {
    background-color: #febd01;
  }
}

@keyframes nudge {
  0%, 100% {
    transform: translate(0, 0);
  }
  
  50% {
    transform: translate(150px, 0);
  }
  
  80% {
    transform: translate(-150px, 0);
  }
}

/* 
.hero-div {
  display: flex;
  align-items: center;
  padding: 3rem 0 4rem 0;
  text-align: left;
  border-bottom: #febd01 solid .1rem
} */

.btn {
  background-color: #ff5757;
  color: white;
  font-weight: bold;
  will-change: transform;
  transition: transform 450ms;
}
.btn:hover {
  transition: transform 125ms;
  transform: translateY(-10px);
}


.services-container {
  display: flex;
  /* flex-direction: column; */
  /* align-items: flex-start */
  margin: 1rem;
  padding: 3rem;
}

.services-container h1 {
  text-align: left;
}

.services-web {
  display:flex;
 align-items: center;
}

.services-growth {
  display:flex;
  align-items: center;
}

.services-access {
  display: flex;
  align-items: center;
}

.img-fluid {
  width: 30rem
}

.process-container {
  display: flex;
  flex-direction: column;
  /* background-color: #fdfafa; */
  margin: 2rem;
  padding: 2rem;

}
.process {
  /* display: flex; */
  flex: 1;
  text-align: left;
  
}

.process-list {
  display: flex;
  justify-content: space-around;
  /* flex-direction: row; */
  /* width: 70%; */

}

.process-list h4 {
  font-size: 1.2rem;

}
.item {
  /* display: flex;
  flex-direction: row; */
}

.process h4 {
  /* color: #1969a8; */
  text-decoration: #1969a8 underline .1rem; 
  text-decoration-style: solid;
}
/* .process h1{
  text-align: left;
} */




/* .process-call {
  display: flex;
  align-items: center;
  padding: 4rem;

}

.process-call h2 {
  font-weight: bold;
} */

/* .process-review {
  display: flex;
  align-items: center;
  padding: 4rem;
}

.process-review h2 {
  font-weight: bold;
}

.process-handoff {
  display: flex;
  align-items: center;
  padding: 4rem;
}

.process-handoff h2 {
  font-weight: bold;
} */
.packages {
  display: flex;
  margin-top: 2rem;
}
.packages p{
  text-align: left;
  padding: 2rem;
}

.packages h1{
  text-align: left;
}

.clients-container {
  /* display: flex; */
  justify-content: center;
  margin-top: 3rem;
  text-align: center;
}

.packages-container{
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 3rem;
}

.clients {
  /* display: flex;
  flex-direction: column; */
  margin: 3rem;
  padding: 3rem;
}

.clients a {
 padding-top: 1.5rem
}

.contact-form{
padding: 1rem 3rem 0 3rem;
 text-align: center;
}

.footer {
  display: flex;
  margin-top: 3rem;
  flex-direction: column;
  padding: 3rem 3rem 0 3rem;
}
.footer-p {
  display: flex;
  justify-content: center !important;
 
}
.footer-links {
 display: flex;
 flex-direction: column;
}
.footer-links a {
  text-decoration: none;
font-weight: bold;
  background-image: linear-gradient(to right, #ffffff 70%,  #febd01 0%);
  color: #1969a8;
}



.nav ul {
  /* display: flex;
  align-items: center;
  justify-content: space-evenly; */
  /* max-width: 100%;
  margin: auto;
  padding: 2rem;
  padding-right: 1rem;
  list-style-type: none; */
}

/* .nav ul {
  list-style-type: none;
} */
/* .nav li {
  text-align: center;
}
li a:hover {
  color: #1969a8;
}

.active {
  color: #ff5757;
}

.nav-link {
  padding: 1rem;
  margin: 1rem;
  padding-top: 3.5rem;
  text-decoration: none;
  float: right;
}

#logo {
  float: left;
}

.hero {
  align-content: center;
} */
