.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1, h2, h3, h4, h5, h6 {
  color: #545454;
}

p {
  color: #545454;
}
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
}

.container-fluid {
  /* background: #FFFEF2; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* padding: 2rem; */
  /* flex-wrap: wrap; */
}
.hero {
 padding: 3rem;
}

.container-fluid img {
  max-height: 100%;
  width: 40%;
}

.container {
  /* display: flex; */
  margin-top: 3rem;
}

.services-web {
  display:flex;
 align-items: center;
}

.services-growth {
  display:flex;
  align-items: center;
}

.services-access {
  display: flex;
  align-items: center;
}

.img-fluid {
  width: 30rem
}

.clients-container {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.clients {
  display: flex;
  flex-direction: column
}

.footer {
  display: flex;
  margin-top: 3rem;
  flex-direction: column;
  padding: 3rem 3rem 0 3rem;
}
.footer-p {
  display: flex;
  justify-content: center !important;
 
}
.footer-links {
 display: flex;
 flex-direction: column;
}
.footer-links a {
  text-decoration: none;
}

.nav ul {
  /* display: flex;
  align-items: center;
  justify-content: space-evenly; */
  /* max-width: 100%;
  margin: auto;
  padding: 2rem;
  padding-right: 1rem;
  list-style-type: none; */
}

/* .nav ul {
  list-style-type: none;
} */
/* .nav li {
  text-align: center;
}
li a:hover {
  color: #1969a8;
}

.active {
  color: #ff5757;
}

.nav-link {
  padding: 1rem;
  margin: 1rem;
  padding-top: 3.5rem;
  text-decoration: none;
  float: right;
}

#logo {
  float: left;
}

.hero {
  align-content: center;
} */
